<!-- src/views/login.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register</title>

    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" />
</head>
<style>
    body {
        font-family: 'Open Sans';
        background-image: url('/images/space-background.png');
    }

    #register-container {
        position: relative;
        top: 4rem;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: white;
        width: fit-content;
        padding: 2rem;
        border-radius: 15px;
    }

    #register-form {
        padding: 5px;
        display: flex;
        flex-direction: column;
    }

    input {
        width: 40vw;
        margin: 10px;
        border-radius: 10px;
        border: 1px solid rgb(15, 15, 15);
        padding: 10px;
    }

    button,
    h3 {
        width: 20vw;
        margin: auto;
        padding: 10px;
        border-radius: 10px;

    }

    header {}

    @keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-20px);
        }
    }

    h2 {
        margin: auto;
        width: fit-content;
        color: white;
    }

    img {
        width: 10rem;
        float: right;
        animation: mover 1s infinite alternate;
        margin-right: 1rem;
    }
</style>

<body>
    <div class="header">
        <h2>Chatcomss - made by syprogrammer</h2>
    </div>

    <div id="register-container">
        <form action="/register" method="post" id="register-form">
            <h3>Register Here</h3>

            <label for="username">Username</label>
            <input type="text" placeholder="Email or Phone" name="username" id="username" autocomplete="off" required>

            <label for="password">Password</label>
            <input type="password" placeholder="Password" name="password" id="password" autocomplete="off"  required>

            <button>Register</button>

    </div>
    <div id="astronaut">
        <img src="/images/astronaut.png" alt="">
    </div>
    </form>
</body>

</html>